/********************
	GENERAL
********************/


/********************
	HEADER
********************/

header{
	padding: 5px;
}

header h1, 
header h2{
	margin: 0;
}

.headerblock{
	display: inline-block;
	padding: 5px;
	vertical-align: top;
}

.headerblock h1{
	margin: -8px 0 0 0;
	padding: 0;
}

.headerblock h2{
	padding: 0 0 0 1px;
}

nav{
	float: right;
}

nav ul{
	margin: 5px;
}

nav li{
	display: inline-block;
}

nav li a{
	padding: 3px 7px;
	border-radius: 4px;
}

/********************
	SECTION
********************/

section{
	clear: both;
	max-width: 920px;
	margin: 0 auto;
	padding: 0 5%;
}

.page-title{
	margin: 0;
	padding: 0;
}

.page-title h3{
	margin: 0;
	padding: 10px 0 5px;
}

/********************
	FOOTER
********************/

footer{
	text-align: center;
	clear: both;
	padding: 10px;
}

/********************
	LINKS
********************/

header a,
footer a,
header a:visited,
footer a:visited{
	text-decoration: none;
}

/********************
	COLORS
********************/

body{
	background: #ddd;
	color: #333;
}

a{
	color: #242;
}

header a,
footer a,
header a:visited,
footer a:visited{
	color:#222;
}

nav a{
	background: #bbb;
}

header, nav{
	background: #aaa;
}

header h1,
header h2{
	color: #444;
}

header a:hover,
footer a:hover{
	color: #444;
}

nav a:hover{
	background: #444;
	color: #ddd;
}


/********************
	FONTS
********************/

body{
	font-family: 'Open Sans', sans-serif;
}

header{
	font-size: 1.25em;
}

header h2{
	font-weight: normal;
}

footer{
	font-size: .8em;
}


/*
#main-container{
	color:#f00;
} meta viewport devicewidth?
*/

/* Smartphones (portrait) ----------- */
@media screen 
and (max-width: 320px) {
/* Styles */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    /* Retina-specific stuff here */
    #main-container{
}
}